.language {
	margin-bottom: 30px;

	h2.slashed {
		margin-bottom: 0px;
	}
	
	.language-item {
		position: relative;
		height: 39px;
		padding: 10px 0;
		border-bottom: 1px solid $icon-color;

		.stars {
			float: right;
			color: $star-off-color;
			font-size: 16px;

			i {
				margin-left: 10px;
			}

			.active {
				color: $star-on-color;
			}
		}

		
	}
}