// basic
$font-family: 'Open Sans', sans-serif;

// layout colors
$background-color: #EDEDED;
$container-color: #FFF;

// font colors
$font-color: #363636;
$font-name-color: #F0563D;
$font-header-color: #EC7263;

// page variables
$education-color: #EEEEEE;
$skill-color: #F0563D;
$skill-experience-color: #D1D1D1;
$hobby-color: #F0563D;
$icon-color: #D9D9D9;