// basic
$font-family: 'Open Sans', sans-serif;

// layout colors
$background-color: #EDEDED;
$container-color: #FFF;

// font colors
$font-color: #363636;
$font-name-color: #F0563D;
$font-header-color: #EC7263;

// page variables
$education-color: #EEEEEE;
$skill-color: #F0563D;
$skill-experience-color: #D1D1D1;
$hobby-color: #A75265;
$icon-color: #D9D9D9;
$star-off-color: #7F7F7F;
$star-on-color: #FF0000;

// Breakpoint sizes
$breakpoints: (
	'mobile-portrait': 	'(max-width: 479px)',
	'tablet-portrait': 	'(max-width: 768px)',
	'mobile-landscape': '(max-width: 800px)',
	'tablet': 			'(max-width: 1024px)',
	'desktop': 			'(min-width: 1025px)',
	'desktop-hover':	'(min-device-width: 1025px)',
	'desktop-high':		'(min-height: 1000px)',
);